# Terraform
*.tfstate
*.tfstate.backup
.*tfstate.lock.info
.terraform/
.terraform.locl.hcl
*.tfvars
carsh.log

# Diagrams
diagrams/*.txt
diagrams/**/*.json

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
